<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.singe.core.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.singe.core.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parent_id,menu_url, description, create_date, modify_date
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.singe.core.model.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.singe.core.model.Menu" >
    update t_menu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCount" parameterType="com.singe.core.model.Menu" resultType="java.lang.Integer">
    select count(id) from t_menu
    where 1=1
    <if test="keyword != null and keyword !=''">
      and  name like '%${keyword}%'
    </if>
  </select>
  <select id="selectList" parameterType="com.singe.core.model.Menu" resultMap="BaseResultMap">
    SELECT m1.id, m1.name, m1.parent_id, m1.menu_url,m1.description, m1.create_date, m1.modify_date,m2.name AS parent_name
    FROM t_menu m1 LEFT JOIN t_menu m2 ON m1.parent_id = m2.id
    WHERE 1=1
    <if test="keyword != null and keyword !=''">
      and  name like '%${keyword}%'
    </if>
    order by
    m1.create_date desc
    limit ${startIndex}, ${pageSize}
  </select>

  <select id="selectNoPageList" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List" />
      from t_menu
      where 1=1
      <if test="parentId == 0">
        and parent_id = #{parentId,jdbcType=INTEGER}
      </if>
      <if test="parentId != 0">
        and parent_id != 0
      </if>
  </select>


</mapper>